<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/inventory.css') }}">
</head>
<body>
<div class="main-container">
    <h1>Grocery Inventory</h1>
    <div class="list">
        <table>
            <tr>
              <th>Inventory Name</th>
              <th>Quantity</th>
              <th>Action</th>
            </tr>
            <tr>
              <td>Apple</td>
              <td>10</td>
              <td class="action">
                <span><a>Add</a></span>
                <span><a>Delete</a></span>
              </td>
            </tr>
            <tr>
              <td>Coffee Bottles</td>
              <td>4</td>
              <td class="action">
                <span><a>Add</a></span>
                <span><a>Delete</a></span>
              </td>
            </tr>
            <tr>
              <td>Bread Packet</td>
              <td>8</td>
              <td class="action">
                <span><a>Add</a></span>
                <span><a>Delete</a></span>
              </td>
            </tr>
            <tr>
              <td>Potato Bag</td>
              <td>3</td>
              <td class="action">
                <span><a>Add</a></span>
                <span><a>Delete</a></span>
              </td>
            </tr>
            <tr>
              <td>Oranges</td>
              <td>15</td>
              <td class="action">
                <span><a>Add</a></span>
                <span><a>Delete</a></span>
              </td>
            </tr>
        </table>
    </div>
      
</div>
</body>
</html>