<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
  <div class="main-container">
    <center><h1 class="welcome">Welcome back!</h1></center>
    <div class="form">
      <form action="/login" method = "post">
        <label for="uname">User Name</label>
        <input type="text" id="uname" name="username" placeholder="Your username..">
    
        <label for="pwd">Password</label>
        <input type="password" id="pwd" name="password" placeholder="Your password..">
      
        <input type="submit" value="Login">
      </form>
    </div>
  </div>
</body>
</html>